<!DOCTYPE html>
<html>

<head>
  <title>usuarios registro</title>
  <meta name="author" content="Gabriela Paz">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1>gracias por registrace, <%= nombreUsuario %></h1>

<div class="contenedor-inputs">
  

  <input type="submit"  onclick="history.back()" value="volver" class="btn-enviar">
</div>


</body>

</html>
